/* nav-side */
/* nav-side main */
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color:#888;
}
.nav-side .nav-item.active .link{
    color:#c60203;
}
/* right content */
.content.width-nav{
    float: left;
    width: 950px;
}